<!-- Bread crumb is created dynamically -->
<!-- row -->

<!-- end row -->

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-10" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
                   <h2><a href="#group"> 我的小组话题 </a>> <a href="#ajax/forum-topic.html">{{ group.groupName }} </a></h2>
					<div class="widget-toolbar">
                        <a href="#newfriend"><span class="glyphicon glyphicon-plus"></span>发言</a>

					</div>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">




<!-- row -->
<div class="row">

    <div class="col-sm-12">

        <div class="well">

            <table class="table table-striped table-forum">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody>


                <!-- TR -->
                {% for item in groupDiscussList %}
                    <tr>
                        <td colspan="2">
                                <a href="#{% url 'topic' item.id %}">
                                    {{ item.title }}
                                </a>
                        </td>
                        <td class="text-center hidden-xs hidden-sm">
                            <a href="javascript:void(0);">{{ item.replyCount }}</a>
                        </td>
                        <td class="text-center hidden-xs hidden-sm">
                            <a href="javascript:void(0);">{{ item.group.groupName }}</a>
                        </td>
                        <td class="hidden-xs hidden-sm">
                            <a href="javascript:void(0);">{{ item.creatTime|timesince }}</a>
                            <br>
                        </td>
                    </tr>
                {% endfor %}
                <!-- end TR -->


                </tbody>
            </table>
        <div class="text-center">
            <ul class="pager">
                {% if groupDiscussList.has_previous %}
                    <li class="previous"><a href="#group/discuss?page={{ groupDiscussList.previous_page_number }}">&larr; Newer</a></li>
                {% endif %}
                Page {{ groupDiscussList.number }} of {{ groupDiscussList.paginator.num_pages }}.
                {% if groupDiscussList.has_next %}
                    <li class="next"><a href="#group/discuss?page={{ groupDiscussList.next_page_number }}">Older &rarr;</a></li>
                {% endif %}
            </ul>
        </div>


        </div>
    </div>

</div>

<!-- end row -->





					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->


			<!-- end widget -->


			<!-- end widget -->



		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

	<!-- end row -->

</section>

<!-- row -->

<div class="row">

    <!-- a blank row to get started -->

</div>

<!-- end row -->

<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();

    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     */

    // pagefunction

    var pagefunction = function () {

    };

    // end pagefunction

    // run pagefunction on load

    pagefunction();

</script>
