<ul class="notification-body">
	
 {% for item in notifyList %}
   
	<li>
		<span class="padding-10">

			<em class="badge padding-5 no-border-radius bg-color-blueLight txt-color-white pull-left margin-right-5">
				<i class="fa fa-user fa-fw fa-2x"></i>
			</em>
			
			<span>
				 <a href="javascript:void(0);" class="display-normal">{{item.requestUser.username}}</a>添加您为好友&nbsp;

				

				  <input onclick=acceptFriendInvite({{item.id}}) class="btn  btn-success btn-xs margin-top-5" type="button" value="接受">

				

				 <input onclick=rejectFriendInvite({{item.id}}) class="btn  btn-danger btn-xs margin-top-5" type="button" value="拒绝">
				 <span class="pull-right font-xs text-muted"><i>{{item.requestTime|timesince}}</i></span>
			</span>
			
		</span>
	</li>	
    {% endfor  %}



	
	
</ul>
<script>
function acceptFriendInvite(inviteID){
	 $.ajax({
                        type: "GET",
                        url: 'acceptFriendInvite/'+inviteID+"/",
                        
                        success: function (data) {
                        	var	 container = $(".ajax-notifications");
            					loadURL("notify", container);

                        },
                        error: function () {

                        }
                    });

}

function rejectFriendInvite(inviteID){
	 $.ajax({
                        type: "GET",
                        url: 'rejectFriendInvite/'+inviteID+"/",
                        
                        success: function (data) {
                        	var	 container = $(".ajax-notifications");
            					loadURL("notify", container);

                        },
                        error: function () {

                        }
                    });

}

</script>